{% extends 'AppCoder/padre.html' %}
{% block title %}Editar Unidad{% endblock %}

{% block contenido %}
<div class="container mt-5 mb-5">
    <h2 class="mb-4 text-center">Editar Unidad</h2>

    <div class="card shadow">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-borderless">
                    {{ form.as_table }}
                </table>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="{% url 'unidades' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

