{% extends 'AppCoder/padre.html' %}
{% load static %}

{% block title %}clientes {% endblock %}

{% block contenido %}




<header class="masthead">
        <div class="container position-relative">
            
                </div class=row justify-content-center>
                   <div class="col-lx-6"> 
                       <div class="text-center text text-black">
                            <!-- page heading -->
                            <h1 class="mb-5">CLIENTES</h1>
                            <p class="mb-5">Gestioná clientes, carga sus datos e info </p>
    
                        </div>
                    </div>
                </div>
        </div>        

            
</header>

{% endblock  %}